<!-- <div class="share&#45;page"> -->
<!--     Share this on &#38;rarr; -->
<!--  <a href="https://twitter.com/share" class="twitter&#45;share&#45;button" data&#45;via="{{ site.share.twitter_username }}">Tweet</a> -->
<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter&#45;wjs');</script> -->
<!--  -->
<!-- <!&#45;&#45; Google + &#45;&#45;> -->
<!-- <div class="g&#45;plus" data&#45;action="share" data&#45;annotation="bubble"></div> -->
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script> -->
<!--  -->
<!-- <!&#45;&#45; Facebook &#45;&#45;> -->
<!-- <div class="fb&#45;share&#45;button" data&#45;href="{{site.url}}{{page.url}}" data&#45;layout="button_count" style="position: relative; top: &#45;8px; left: 3px;"></div> -->
<!-- </div> -->
<!-- <div id="fb&#45;root"></div> -->
<!-- <script>(function(d, s, id) { -->
<!--   var js, fjs = d.getElementsByTagName(s)[0]; -->
<!--   if (d.getElementById(id)) return; -->
<!--   js = d.createElement(s); js.id = id; -->
<!--   js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&#38;version=v2.6&#38;appId={{ site.share.fb_appid }}"; -->
<!--   fjs.parentNode.insertBefore(js, fjs); -->
<!-- }(document, 'script', 'facebook&#45;jssdk'));</script> -->
