
// Label "Table of contents"
#markdown-toc::before {
  content: "Table of contents";
  margin-left: -$spacing-unit;
  line-height: 200%;
  font-weight: bold;
  @include relative-font-size(1.25);
  @include media-query($on-laptop) {
    @include relative-font-size(1.125);
  }
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}
