/* Add title at the top */
#markdown-toc::before {
    content: "Table of Contents";
    font-weight: bold;
}


#markdown-toc {
    /*position: fixed;*/
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}
