// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Table of contents";
    font-weight: bold;
}


#markdown-toc {
    border: 1px solid #aaa;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}
