/*********************************************************************
 *                            Main styles                            *
 *********************************************************************/

.title-size {
    font-size: $mc-font-size-title;
}


.home-subtitle {
    font-size: $mc-font-size-title;
    margin-bottom: 32px;
    margin-top: 5px;
    color: $mc-title-color;
    font-weight: 300;
}

.header-panel.shadow-z-2 {
    background-color: $mc-background-color-top;
    padding: 50px 0 15px 0;
    width: 100%;
}

.icon {
    background: rgb(255, 255, 255);
    opacity: 0.63;
    border-radius: 100%;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color: $mc-background-color-top;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.icon:hover {
    color: rgb(255, 255, 255);
    opacity: 0.63;
    color: $mc-highlight-color-nav;
}

.menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a{
    opacity: 0.85;
    background: $mc-highlight-color-nav;
}

li.current-menu-item:before {
    content: "";
    display: inline-block;
    height: 55px;
    width: 5px;
    position: absolute;
    left: 9px;
    vertical-align: middle;
    background: $mc-background-color-nav;
}

a,a:focus,a:hover{
    color:$mc-highlight-color-link
}

a .material-icons,a:focus .material-icons,a:hover .material-icons{
    vertical-align:middle
}

/*********************************************************************
 *                           Coding stuff                            *
 *********************************************************************/

.gh-target {
    width: 48px;
}

.gh-api-size {
    font-size:16px;
}

.gh-listitem {
    font-size: 16px!important;
    padding: 3px
}


.gh-btn-size {
    width: 48px;
    font-size:18px;
}

.gh-img-small {
    height: 88px;
    width: 88px
}

.gh-img-circle {
    border-radius: 75%
}

.list-group .list-group-item .gh-row-action-primary,
.list-group .list-group-item .gh-row-picture{
    display:inline-block;
    padding-right:12px
}
.list-group .list-group-item .gh-row-action-primary i,
.list-group .list-group-item .gh-row-action-primary img,
.list-group .list-group-item .gh-row-action-primary label,
.list-group .list-group-item .gh-row-picture i,
.list-group .list-group-item .gh-row-picture img,
.list-group .list-group-item .gh-row-picture label{
    display:block;
    width:75px;
    height:75px
}
.list-group .list-group-item .gh-row-action-primary img,
.list-group .list-group-item .gh-row-picture img{
    background:rgba(0,0,0,.0);
    padding:1px
}
.list-group .list-group-item .gh-row-action-primary img.circle,
.list-group .list-group-item .gh-row-picture img.circle{
    border-radius:100%
}
.list-group .list-group-item .gh-row-action-primary i,
.list-group .list-group-item .gh-row-picture i{
    background:rgba(0,0,0,.25);
    border-radius:100%;
    text-align:center;
    line-height:56px;
    font-size:20px;
    color:#fff
}
.list-group .list-group-item .gh-row-action-primary label,
.list-group .list-group-item .gh-row-picture label{
    margin-left:7px;
    margin-right:-7px;
    margin-top:5px;
    margin-bottom:-5px
}
.list-group .list-group-item .gh-row-action-primary label .checkbox-material,
.list-group .list-group-item .gh-row-picture label .checkbox-material{
    left:-10px
}

/*********************************************************************
 *                            gh buttons?                            *
 *********************************************************************/

.forum-icon .gh-fa {
    font-size: 30px;
    margin-top: 8px;
    color: #9b9b9b
}

.gh-btn-default.active,
.gh-btn-default:active,
.gh-btn-white.active,
.gh-btn-white:active,
.open .dropdown-toggle.btn-default {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .15) inset
}

.gh-btn-info.active,
.gh-btn-info:active,
.gh-btn-primary.active,
.gh-btn-primary:active,
.gh-btn-success.active,
.gh-btn-success:active,
.open .dropdown-toggle.gh-btn-info,
.open .dropdown-toggle.gh-btn-primary,
.open .dropdown-toggle.gh-btn-success {
    background-image: none
}

.gh-btn {
    border-radius: 3px
}

.float-e-margins .gh-btn {
    margin-bottom: 5px
}

.gh-btn-w-m {
    min-width: 120px
}

.gh-btn-primary.gh-btn-outline {
    color: #3385FF
}

.gh-btn-success.gh-btn-outline {
    color: #1c84c6
}

.gh-btn-info.gh-btn-outline {
    color: #23c6c8
}

.gh-btn-warning.gh-btn-outline {
    color: #f8ac59
}

.gh-btn-danger.gh-btn-outline {
    color: #ed5565
}

.gh-btn-danger.gh-btn-outline:hover,
.gh-btn-info.gh-btn-outline:hover,
.gh-btn-primary.gh-btn-outline:hover,
.gh-btn-success.gh-btn-outline:hover,
.gh-btn-warning.gh-btn-outline:hover {
    color: #fff
}

.gh-btn-primary {
    background-color: #3385FF;
    border-color: #3385FF;
    color: #FFF
}

.gh-btn-primary.active,
.gh-btn-primary.active:focus,
.gh-btn-primary.active:hover,
.gh-btn-primary:active,
.gh-btn-primary:active:focus,
.gh-btn-primary:active:hover,
.gh-btn-primary:focus,
.gh-btn-primary:hover,
.open .dropdown-toggle.gh-btn-primary {
    background-color: #18a689;
    border-color: #18a689;
    color: #FFF
}

.gh-btn-primary.active[disabled],
.gh-btn-primary.disabled,
.gh-btn-primary.disabled.active,
.gh-btn-primary.disabled:active,
.gh-btn-primary.disabled:focus,
.gh-btn-primary.disabled:hover,
.gh-btn-primary[disabled],
.gh-btn-primary[disabled]:active,
.gh-btn-primary[disabled]:focus,
.gh-btn-primary[disabled]:hover,
fieldset[disabled] .gh-btn-primary,
fieldset[disabled] .gh-btn-primary.active,
fieldset[disabled] .gh-btn-primary:active,
fieldset[disabled] .gh-btn-primary:focus,
fieldset[disabled] .gh-btn-primary:hover {
    background-color: #1dc5a3;
    border-color: #1dc5a3
}

.gh-btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFF
}

.gh-btn-success.active,
.gh-btn-success.active:focus,
.gh-btn-success.active:hover,
.gh-btn-success:active,
.gh-btn-success:active:focus,
.gh-btn-success:active:hover,
.gh-btn-success:focus,
.gh-btn-success:hover,
.open .dropdown-toggle.gh-btn-success {
    background-color: #1a7bb9;
    border-color: #1a7bb9;
    color: #FFF
}

.gh-btn-success.active[disabled],
.gh-btn-success.disabled,
.gh-btn-success.disabled.active,
.gh-btn-success.disabled:active,
.gh-btn-success.disabled:focus,
.gh-btn-success.disabled:hover,
.gh-btn-success[disabled],
.gh-btn-success[disabled]:active,
.gh-btn-success[disabled]:focus,
.gh-btn-success[disabled]:hover,
fieldset[disabled] .gh-btn-success,
fieldset[disabled] .gh-btn-success.active,
fieldset[disabled] .gh-btn-success:active,
fieldset[disabled] .gh-btn-success:focus,
fieldset[disabled] .gh-btn-success:hover {
    background-color: #1f90d8;
    border-color: #1f90d8
}

.gh-btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFF
}

.gh-btn-info.active,
.gh-btn-info.active:focus,
.gh-btn-info.active:hover,
.gh-btn-info:active,
.gh-btn-info:active:focus,
.gh-btn-info:active:hover,
.gh-btn-info:focus,
.gh-btn-info:hover,
.open .dropdown-toggle.gh-btn-info {
    background-color: #21b9bb;
    border-color: #21b9bb;
    color: #FFF
}

.gh-btn-info.active[disabled],
.gh-btn-info.disabled,
.gh-btn-info.disabled.active,
.gh-btn-info.disabled:active,
.gh-btn-info.disabled:focus,
.gh-btn-info.disabled:hover,
.gh-btn-info[disabled],
.gh-btn-info[disabled]:active,
.gh-btn-info[disabled]:focus,
.gh-btn-info[disabled]:hover,
fieldset[disabled] .gh-btn-info,
fieldset[disabled] .gh-btn-info.active,
fieldset[disabled] .gh-btn-info:active,
fieldset[disabled] .gh-btn-info:focus,
fieldset[disabled] .gh-btn-info:hover {
    background-color: #26d7d9;
    border-color: #26d7d9
}

.gh-btn-default {
    color: inherit;
    background: #fff;
    border: 1px solid #e7eaec
}

.gh-btn-danger.active,
.gh-btn-danger:active,
.gh-btn-link.active,
.gh-btn-link:active,
.gh-btn-warning.active,
.gh-btn-warning:active,
.open .dropdown-toggle.gh-btn-danger,
.open .dropdown-toggle.gh-btn-link,
.open .dropdown-toggle.gh-btn-warning {
    background-image: none
}

.gh-btn-default.active,
.gh-btn-default.active:focus,
.gh-btn-default.active:hover,
.gh-btn-default:active,
.gh-btn-default:active:focus,
.gh-btn-default:active:hover,
.gh-btn-default:focus,
.gh-btn-default:hover,
.open .dropdown-toggle.gh-btn-default {
    color: inherit;
    border: 1px solid #d2d2d2
}

.gh-btn-default.active[disabled],
.gh-btn-default.disabled,
.gh-btn-default.disabled.active,
.gh-btn-default.disabled:active,
.gh-btn-default.disabled:focus,
.gh-btn-default.disabled:hover,
.gh-btn-default[disabled],
.gh-btn-default[disabled]:active,
.gh-btn-default[disabled]:focus,
.gh-btn-default[disabled]:hover,
fieldset[disabled] .gh-btn-default,
fieldset[disabled] .gh-btn-default.active,
fieldset[disabled] .gh-btn-default:active,
fieldset[disabled] .gh-btn-default:focus,
fieldset[disabled] .gh-btn-default:hover {
    color: #cacaca
}

.gh-btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFF
}

.gh-btn-warning.active,
.gh-btn-warning.active:focus,
.gh-btn-warning.active:hover,
.gh-btn-warning:active,
.gh-btn-warning:active:focus,
.gh-btn-warning:active:hover,
.gh-btn-warning:focus,
.gh-btn-warning:hover,
.open .dropdown-toggle.gh-btn-warning {
    background-color: #f7a54a;
    border-color: #f7a54a;
    color: #FFF
}

.gh-btn-warning.active[disabled],
.gh-btn-warning.disabled,
.gh-btn-warning.disabled.active,
.gh-btn-warning.disabled:active,
.gh-btn-warning.disabled:focus,
.gh-btn-warning.disabled:hover,
.gh-btn-warning[disabled],
.gh-btn-warning[disabled]:active,
.gh-btn-warning[disabled]:focus,
.gh-btn-warning[disabled]:hover,
fieldset[disabled] .gh-btn-warning,
fieldset[disabled] .gh-btn-warning.active,
fieldset[disabled] .gh-btn-warning:active,
fieldset[disabled] .gh-btn-warning:focus,
fieldset[disabled] .gh-btn-warning:hover {
    background-color: #f9b66d;
    border-color: #f9b66d
}

.gh-btn-danger {
    background-color: #ed5565;
    border-color: #ed5565;
    color: #FFF
}

.gh-btn-danger.active,
.gh-btn-danger.active:focus,
.gh-btn-danger.active:hover,
.gh-btn-danger:active,
.gh-btn-danger:active:focus,
.gh-btn-danger:active:hover,
.gh-btn-danger:focus,
.gh-btn-danger:hover,
.open .dropdown-toggle.gh-btn-danger {
    background-color: #ec4758;
    border-color: #ec4758;
    color: #FFF
}

.gh-btn-danger.active[disabled],
.gh-btn-danger.disabled,
.gh-btn-danger.disabled.active,
.gh-btn-danger.disabled:active,
.gh-btn-danger.disabled:focus,
.gh-btn-danger.disabled:hover,
.gh-btn-danger[disabled],
.gh-btn-danger[disabled]:active,
.gh-btn-danger[disabled]:focus,
.gh-btn-danger[disabled]:hover,
fieldset[disabled] .gh-btn-danger,
fieldset[disabled] .gh-btn-danger.active,
fieldset[disabled] .gh-btn-danger:active,
fieldset[disabled] .gh-btn-danger:focus,
fieldset[disabled] .gh-btn-danger:hover {
    background-color: #ef6776;
    border-color: #ef6776
}

.gh-btn-link {
    color: inherit
}

.gh-btn-link.active,
.gh-btn-link:active,
.gh-btn-link:focus,
.gh-btn-link:hover,
.open .dropdown-toggle.gh-btn-link {
    color: #3385FF;
    text-decoration: none
}

.gh-btn-link.active[disabled],
.gh-btn-link.disabled,
.gh-btn-link.disabled.active,
.gh-btn-link.disabled:active,
.gh-btn-link.disabled:focus,
.gh-btn-link.disabled:hover,
.gh-btn-link[disabled],
.gh-btn-link[disabled]:active,
.gh-btn-link[disabled]:focus,
.gh-btn-link[disabled]:hover,
fieldset[disabled] .gh-btn-link,
fieldset[disabled] .gh-btn-link.active,
fieldset[disabled] .gh-btn-link:active,
fieldset[disabled] .gh-btn-link:focus,
fieldset[disabled] .gh-btn-link:hover {
    color: #cacaca
}

.gh-btn-white {
    color: inherit;
    background: #fff;
    border: 1px solid #e7eaec
}

.gh-btn-white.active,
.gh-btn-white.active:focus,
.gh-btn-white.active:hover,
.gh-btn-white:active,
.gh-btn-white:active:focus,
.gh-btn-white:active:hover,
.gh-btn-white:focus,
.gh-btn-white:hover,
.open .dropdown-toggle.gh-btn-white {
    color: inherit;
    border: 1px solid #d2d2d2
}

.gh-btn-white.active,
.gh-btn-white:active,
.open .dropdown-toggle.gh-btn-white {
    background-image: none
}

.gh-btn-white.active[disabled],
.gh-btn-white.disabled,
.gh-btn-white.disabled.active,
.gh-btn-white.disabled:active,
.gh-btn-white.disabled:focus,
.gh-btn-white.disabled:hover,
.gh-btn-white[disabled],
.gh-btn-white[disabled]:active,
.gh-btn-white[disabled]:focus,
.gh-btn-white[disabled]:hover,
fieldset[disabled] .gh-btn-white,
fieldset[disabled] .gh-btn-white.active,
fieldset[disabled] .gh-btn-white:active,
fieldset[disabled] .gh-btn-white:focus,
fieldset[disabled] .gh-btn-white:hover {
    color: #cacaca
}

.gh-btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s
}

.gh-btn-rounded {
    border-radius: 50px
}

.gh-btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px
}

button.gh-btn-primary.dim {
    box-shadow: inset 0 0 0 #16987e, 0 5px 0 0 #16987e, 0 10px 5px #999
}

button.gh-btn-primary.dim:active {
    box-shadow: inset 0 0 0 #16987e, 0 2px 0 0 #16987e, 0 5px 3px #999
}

button.gh-btn-default.dim {
    box-shadow: inset 0 0 0 #b3b3b3, 0 5px 0 0 #b3b3b3, 0 10px 5px #999
}

button.gh-btn-default.dim:active {
    box-shadow: inset 0 0 0 #b3b3b3, 0 2px 0 0 #b3b3b3, 0 5px 3px #999
}

button.gh-btn-warning.dim {
    box-shadow: inset 0 0 0 #f79d3c, 0 5px 0 0 #f79d3c, 0 10px 5px #999
}

button.gh-btn-warning.dim:active {
    box-shadow: inset 0 0 0 #f79d3c, 0 2px 0 0 #f79d3c, 0 5px 3px #999
}

button.gh-btn-info.dim {
    box-shadow: inset 0 0 0 #1eacae, 0 5px 0 0 #1eacae, 0 10px 5px #999
}

button.gh-btn-info.dim:active {
    box-shadow: inset 0 0 0 #1eacae, 0 2px 0 0 #1eacae, 0 5px 3px #999
}

button.gh-btn-success.dim {
    box-shadow: inset 0 0 0 #1872ab, 0 5px 0 0 #1872ab, 0 10px 5px #999
}

button.gh-btn-success.dim:active {
    box-shadow: inset 0 0 0 #1872ab, 0 2px 0 0 #1872ab, 0 5px 3px #999
}

button.gh-btn-danger.dim {
    box-shadow: inset 0 0 0 #ea394c, 0 5px 0 0 #ea394c, 0 10px 5px #999
}

button.gh-btn-danger.dim:active {
    box-shadow: inset 0 0 0 #ea394c, 0 2px 0 0 #ea394c, 0 5px 3px #999
}

.gh-btn:focus {
    outline: 0!important
}

.gh-btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429
}

.gh-btn-circle.gh-btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33
}

.gh-btn-circle.gh-btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33
}

