.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  color: #000000;
  background-color: #ebedf0;
}
.highlight .n {
  color: #001080;
}
.highlight .gl {
  color: #6e7781;
}
.highlight .gp {
  color: #0000ff;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #008000;
  font-style: italic;
}
.highlight .cp {
  color: #0000ff;
}
.highlight .err {
  color: #ff0000;
  background-color: transparent;
}
.highlight .gr {
  color: #ff0000;
}
.highlight .k, .highlight .kd, .highlight .kv {
  color: #0000ff;
}
.highlight .o, .highlight .ow {
  color: #383a42;
}
.highlight .p, .highlight .pi {
  color: #6a737d;
}
.highlight .gd {
  color: #a31515;
}
.highlight .gi {
  color: #098658;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gt {
  color: #ff0000;
}
.highlight .kc {
  color: #0000ff;
}
.highlight .kn {
  color: #AF00DB;
}
.highlight .kp {
  color: #0000ff;
}
.highlight .kr {
  color: #AF00DB;
}
.highlight .gh {
  color: #0000ff;
  font-weight: bold;
}
.highlight .gu {
  color: #0000ff;
  font-weight: bold;
}
.highlight .kt {
  color: #267f99;
}
.highlight .no {
  color: #0070C1;
}
.highlight .nc {
  color: #267f99;
}
.highlight .nd {
  color: #795e26;
}
.highlight .nn {
  color: #267f99;
}
.highlight .bp {
  color: #267f99;
}
.highlight .ne {
  color: #267f99;
}
.highlight .nl {
  color: #0000ff;
}
.highlight .nt {
  color: #800000;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #098658;
}
.highlight .ld {
  color: #098658;
}
.highlight .ss {
  color: #a31515;
}
.highlight .s, .highlight .sb, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .sr, .highlight .s1 {
  color: #a31515;
}
.highlight .sa {
  color: #0000ff;
}
.highlight .se {
  color: #ee0000;
}
.highlight .sc {
  color: #a31515;
}
.highlight .si {
  color: #a31515;
}
.highlight .nb {
  color: #795e26;
}
.highlight .ni {
  color: #000000;
}
.highlight .w {
  color: #BBBBBB;
}
.highlight .go {
  color: #000000;
}
.highlight .nf, .highlight .fm {
  color: #795e26;
}
.highlight .py {
  color: #001080;
}
.highlight .na {
  color: #001080;
}
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi, .highlight .vm {
  color: #001080;
}
